body{
    background-color: black;
}

/*--------------------------------------------------------------------------------------- */
/*BARRA DE NAVEGACIÓN - HEADER */

.header-menu {
    background-color: #2A1630;
    color: white;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-block: 20px;
    width: 100%;
}

.menu-desplazamiento {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    
}

.menu-items {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    justify-content: flex-start;
    flex-wrap: wrap; 
    width: auto;
    
}

.menu-items li {
    margin: 0 15px;
}

.header-letras {
    color: #ffffff;
    text-decoration: none;
    font-size: clamp(14px, 2vw, 18px);
    font-family: "Roboto", sans-serif;
    margin-right: 32px;
}

@media (max-width: 768px) {
    .menu-desplazamiento {
        display: block;
        
    }

    .menu-items {
        display: none;
        flex-direction: column;
        background-color: #2A1630;
        position: absolute;
        top: 60px;
        right: 0;
        width: 250px;
        box-shadow: -2px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .menu-items.show {
        display: flex;
    }

    .menu-items li {
        padding: 10px;
        text-align: center;
    }

    .header-letras {
        font-size: clamp(12px, 3vw, 16px);
    }
}

/*--------------------------------------------------------------------------------------- */
/*PORTADA - BODY */

.portada {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/portada_imagen.png');
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
}

.portada-nombre {
    color: white;
    font-size: 7rem; 
    font-family: 'Inter', sans-serif;
    font-weight: 400; 
    text-transform: uppercase;
    position: relative;
    top: -80px;
    left: 340px;
    text-shadow: 
        4px 4px 0 rgba(0, 0, 0, 0.5),  
        -12px 6px 0 rgba(117, 94, 136, 1);
}

.portada-descripcion {
    color: white;
    font-size: 2.5rem;
    font-family: 'Lobster Two', cursive; 
    font-weight: 400;
    position: relative;
    top: -115px; 
    left: 340px; 
}
